html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

html {
  font: 20px "Exo 2", sans-serif;
  color: #333333;
}
html.dark .passgenius {
  background-image: url(../img/passgenius-dark.jpg);
  background-attachment: fixed;
}
html.dark .twitter {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF072752', endColorstr='#FF3770A7');
  background: #3770a7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #072752), color-stop(100%, #3770a7));
  background-image: -webkit-linear-gradient(#072752, #3770a7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#072752), to(#3770a7));
  background-image: linear-gradient(#072752, #3770a7);
}

html, body, section.main {
  width: 100%;
  height: 100%;
}

body {
  background: url(../img/bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

a {
  color: #333333;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.center {
  text-align: center;
}

.sitename {
  font-size: 40px;
  width: 100%;
  position: fixed;
  top: -90px;
  left: 0;
  padding: 20px;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: font-size 0.5s ease, top 0.5s ease 2s, background 0.5s ease, padding 0.5s ease, width 0.5s ease;
  transition: font-size 0.5s ease, top 0.5s ease 2s, background 0.5s ease, padding 0.5s ease, width 0.5s ease;
}
.sitename.cursor-pointer, .sitename.cursor-pointer span {
  cursor: pointer !important;
}
.sitename .year {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
}
.sitename.visible {
  top: 0;
}
.sitename.small {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  width: 150px;
}

.down-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -17px 0 0 -12px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.down-icon.visible {
  top: 50%;
  opacity: 1;
  -webkit-transition: text-shadow 0.2s ease, top 1s ease 3s, opacity 1s ease 3s, -webkit-transform 0.2s ease;
  transition: text-shadow 0.2s ease, top 1s ease 3s, opacity 1s ease 3s, transform 0.2s ease;
}
.down-icon:hover {
  text-shadow: 0 0 10px;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

section {
  padding: 50px 10px;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
section.main {
  padding: 0;
  background: transparent;
  text-align: left;
}
section.skills {
  background-image: url(../img/bg-blur.jpg);
  background-attachment: fixed;
  color: white;
}
section.skills .row .columns {
  margin-bottom: 40px;
}
section.skills .fa {
  font-size: 70px;
  margin: 0 20px 20px;
}
section.project {
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
  overflow: hidden;
}
section.project.expanded {
  height: 100%;
}
section.passgenius {
  background-image: url(../img/passgenius-light.jpg);
  background-attachment: fixed;
  height: 400px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
section.passgenius:hover .fa-expand, section.passgenius:hover .fa-compress, section.passgenius:hover .fa-sign-in {
  opacity: 1;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
section.passgenius .fa-expand, section.passgenius .fa-compress, section.passgenius .fa-sign-in {
  position: absolute;
  right: -40px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: background 0.2s ease, -webkit-transform 0.5s ease, opacity 0.5s ease, right 0.5s ease;
  transition: background 0.2s ease, transform 0.5s ease, opacity 0.5s ease, right 0.5s ease;
}
section.passgenius .fa-expand:hover, section.passgenius .fa-compress:hover, section.passgenius .fa-sign-in:hover {
  background: white;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
section.passgenius .fa-expand, section.passgenius .fa-compress {
  top: 20px;
}
section.passgenius .fa-sign-in {
  bottom: 20px;
}
section.in-the-web {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
section.in-the-web .fa {
  display: block;
  font-size: 40px;
  cursor: pointer;
}
section.in-the-web a {
  color: white;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-transition: text-shadow 0.2s ease;
  transition: text-shadow 0.2s ease;
}
section.in-the-web a:hover {
  text-shadow: 0 0 10px white;
}
section.twitter {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF174B92', endColorstr='#FF599EDF');
  background: #599edf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #174b92), color-stop(100%, #599edf));
  background-image: -webkit-linear-gradient(#174b92, #599edf);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#174b92), to(#599edf));
  background-image: linear-gradient(#174b92, #599edf);
  padding: 100px 10px;
  color: white;
}
section.twitter a:hover i, section.twitter a:hover span {
  text-shadow: 0 0 10px;
}
section.twitter .fa {
  font-size: 100px;
  color: white;
  cursor: pointer;
  -webkit-transition: text-shadow 0.2s ease;
  transition: text-shadow 0.2s ease;
}
section.twitter span {
  color: white;
  margin-right: 10px;
  cursor: pointer !important;
  -webkit-transition: text-shadow 0.2s ease;
  transition: text-shadow 0.2s ease;
}
section.copyright {
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
}
section.copyright a {
  color: white;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
section.copyright a:hover {
  border-color: white;
}

@media(max-width: 769px) {
  body, section {
    background-attachment: scroll !important;
  }

  .fa-expand, .fa-compress {
    display: none;
  }

  .fa-sign-in {
    opacity: 1 !important;
    right: 20px !important;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
  }

  section {
    -webkit-background-size: scroll !important;
    background-size: scroll !important;
    background-position: 0 bottom !important;
  }
  section.in-the-web, section.copyright {
    background-image: url(../img/bg-blur.jpg);
  }

  .down-icon {
    display: none;
  }
}
