@import compass

// wrappers
$min-width: 320px
$max-width: 1170px
$header-height: 111px
$footer-height: 100px
$contacts-height: 534px
$portfolio-height: 604px

// font-sizes
$normal: 15px
$medium: 20px
$large: 35px

// colors
$white: #fff
$grey: #d7d7d7
$black: #353535
$orange: #e35c23
$dark-blue: #3f6eb4
$light-blue: #6b91b8
$blue: #23b8e3

// other
$parallax-amount: 150px

*
	margin: 0
	padding: 0

html
	height: 100%

header, nav, section, article, aside, footer
	display: block

body
	font: $normal Arial, Tahoma, Verdana, sans-serif
	color: $black
	height: 100%
	overflow: hidden

a
	color: blue
	outline: none
	text-decoration: underline

a:hover
	text-decoration: none

p
	margin: 0 0 18px

img
	border: none

input
	vertical-align: middle

#wrapper
	width: 100%
	min-width: $min-width
	min-height: 100%
	height: auto !important
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	+box-shadow(0 0 10px rgba(0,0,0,1))
	+transition(top .5s ease, background-position .5s ease)

	&.disabled
		.frontend
			border-color: transparent
		&:after
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0

	&.contacts
		top: $contacts-height
		background-position: center (-$parallax-amount)
	&.portfolio
		top: -$portfolio-height
		background-position: center $parallax-amount

	&.bg01
		background-image: url(/img/bg01.jpg)
	&.bg02
		background-image: url(/img/bg02.jpg)
	&.bg03
		background-image: url(/img/bg03.jpg)
	&.bg04
		background-image: url(/img/bg04.jpg)
	&.bg05
		background-image: url(/img/bg05.jpg)

	#main-container
		max-width: $max-width
		min-width: $min-width
		margin: 0 auto
		padding: 0 20px



/* Header -----------------------------------------------------------------------------*/
#header
	height: $header-height
	padding-top: 10px

	a
		color: $white
		text-decoration: none
		font-size: $normal
		+transition(color .5s ease, border-color .5s ease)

		&:hover
			color: $orange

		&#sitename
			position: absolute
			font-size: $medium

	ul
		list-style: none
		float: right
		margin-top: 3px

		li
			float: left
			margin: 0 20px

			a
				font-size: $normal
				border-bottom: 1px dashed $grey
				padding-bottom: 3px

				&:hover
					border-bottom: 1px dashed transparent



/* Middle -----------------------------------------------------------------------------*/
#content
	color: $white

	.icon-angle-down
		font-size: 60px
		position: absolute
		left: 50%
		bottom: 300px
		margin-left: -20px
		cursor: pointer
		+transition(color .5s ease, bottom .5s ease)

		&:hover
			color: $orange
			bottom: 295px

	.frontend
		font-size: $large
		position: absolute
		left: 50%
		bottom: 180px
		margin-left: -98px
		border: 3px solid $white
		padding: 10px 20px
		cursor: pointer
		+transition(border-color .5s ease, bottom .5s ease, color .5s ease)

		&:hover
			border-color: transparent
			bottom: 175px
			color: $orange

			span
				color: $white

		span
			color: $orange
			+transition(color .5s ease)

	.vert-line
		width: 1px
		height: 100px
		display: inline-block
		position: absolute
		left: 50%
		bottom: 0

		&.white
			background: $white
			border-left: 1px solid $white

		&:before
			content: ''
			display: inline-block
			width: 16px
			height: 15px
			background: $white
			position: absolute
			left: -8px
			top: -15px