@import compass

// wrappers
$min-width: 320px
$max-width: 1170px
$header-height: 111px
$footer-height: 100px
$contacts-height: 560px
$portfolio-height: 604px
$portfolio-content-height: 505px
$block-displace: 100px

// font-sizes
$normal: 15px
$medium: 20px
$large: 35px

// colors
$white: #fff
$grey: #d7d7d7
$black: #353535
$orange: #e35c23
$dark-blue: #3f6eb4
$light-blue: #6b91b8
$blue: #23b8e3

// other
$parallax-amount: 150px

*
	margin: 0
	padding: 0

html
	height: 100%

header, nav, section, article, aside, footer
	display: block

body
	font: $normal Arial, Tahoma, Verdana, sans-serif
	color: $black
	height: 100%
	overflow: hidden

a
	color: blue
	outline: none
	text-decoration: underline

	&:hover
		text-decoration: none

	&.button
		width: auto
		padding: 11px 16px
		float: right
		background: $orange
		color: $white
		text-transform: uppercase
		font-size: $normal
		text-decoration: none
		+transition(background .5s ease)

		&:hover
			background: lighten($orange, 5%)
		&:active
			padding: 12px 16px 10px 16px

		span
			margin-right: 10px

p
	margin: 0 0 18px

h1
	font-size: $large
	text-transform: uppercase
	margin-bottom: 30px

img
	border: none

hr
	border: none
	outline: none
	height: 1px
	width: 100%
	background: $orange
	margin: 40px 0 20px
	position: relative

	&:after
		content: ''
		display: block
		width: 16px
		height: 15px
		position: absolute
		left: 50%
		top: -7px
		margin-left: -78px
		background: $orange
		border:
			left: 70px solid $white
			right: 70px solid $white

input, textarea
	width: 519px
	vertical-align: middle
	border: 1px solid $grey
	font-size: $medium
	padding: 6px 13px
	margin-bottom: 20px
	outline: none
	+transition(border-color .5s ease)

	&:focus
		border: 1px solid $orange

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder
	color: $grey

textarea
	height: 160px
	resize: none

#dark
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	background: #000
	z-index: 100
	+transition(background .5s ease, z-index .5s ease)

	&.disabled
		z-index: -1
		background: transparent

#wrapper
	width: 100%
	min-width: $min-width
	min-height: 100%
	height: auto !important
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	z-index: 10
	+box-shadow(0 0 10px rgba(0,0,0,1))
	+transition(top .5s ease, background-position .5s ease)

	&.disabled
		.frontend
			border-color: transparent !important
		&:after
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0

	&.contacts
		top: $contacts-height
		background-position: center (-$parallax-amount)
	&.portfolio
		top: -$portfolio-height
		background-position: center $parallax-amount

	&.bg1
		background-image: url(../img/summer/bg1.jpg)
	&.bg2
		background-image: url(../img/summer/bg2.jpg)
	&.bg3
		background-image: url(../img/summer/bg3.jpg)
	&.bg4
		background-image: url(../img/summer/bg4.jpg)
	&.bg5
		background-image: url(../img/summer/bg5.jpg)
	&.bg6
		background-image: url(../img/summer/bg6.jpg)
	&.bg7
		background-image: url(../img/summer/bg7.jpg)
	&.bg8
		background-image: url(../img/summer/bg8.jpg)
	&.bg9
		background-image: url(../img/summer/bg9.jpg)
	&.bg10
		background-image: url(../img/summer/bg10.jpg)
	&.bg11
		background-image: url(../img/summer/bg11.jpg)

	#header
		height: $header-height
		padding-top: 10px

		a, span
			color: $white
			text-decoration: none
			font-size: $normal
			+transition(color .5s ease, border-color .5s ease)

			&:hover
				color: $orange

			&#sitename
				position: absolute
				font-size: $medium

		ul
			list-style: none
			float: right
			margin-top: 3px

			li
				float: left
				margin: 0 20px

				span
					font-size: $normal
					border-bottom: 1px dashed $grey
					padding-bottom: 3px
					cursor: pointer

					&:hover
						border-bottom: 1px dashed transparent

		.icon-refresh
			color: $white
			opacity: 0.5
			position: absolute
			right: 0
			top: 0
			padding: 15px
			cursor: pointer
			+transition(all .3s ease)

			&:hover
				opacity: 1
				+transform(rotate(180deg))

	#content
		color: $white

		.icon-angle-down
			font-size: 60px
			position: absolute
			left: 50%
			bottom: 300px
			margin-left: -20px
			cursor: pointer
			+transition(color .5s ease, bottom .5s ease)

			&:hover
				color: $orange
				bottom: 295px

		.frontend
			font-size: $large
			position: absolute
			left: 50%
			bottom: 180px
			margin-left: -98px
			border: 3px solid $white
			padding: 10px 20px
			cursor: pointer
			+transition(border-color .5s ease, bottom .5s ease, color .5s ease)

			&:hover
				border-color: transparent
				bottom: 175px
				color: $orange

				span
					color: $white

			span
				color: $orange
				+transition(color .5s ease)

		.vert-line
			width: 1px
			height: 100px
			display: inline-block
			position: absolute
			left: 50%
			bottom: 0

			&.white
				background: $white
				border-left: 1px solid $white

			&:before
				content: ''
				display: inline-block
				width: 16px
				height: 15px
				background: $white
				position: absolute
				left: -8px
				top: -15px

.main-container
	max-width: $max-width
	min-width: $min-width
	margin: 0 auto
	padding: 0 20px

	.content
		overflow: hidden

#contacts, #portfolio
	width: $max-width
	position: absolute
	opacity: 0
	+transition(opacity .5s ease, top .5s ease, bottom .5s ease)

	&.visible
		opacity: 1
		z-index: 1

	.block
		width: 547px
		float: left

		&:nth-child(2n+1)
			position: relative

			&:after
				content: ''
				display: block
				width: 2px
				height: 35px
				background: $orange
				position: absolute
				top: 33px
				right: -40px

			h1, .desc
				float: right

			.desc
				margin: -18px 30px 30px 0

		&:nth-child(2n)
			margin-left: 76px

		h1
			margin: 30px

		.desc
			float: left
			margin: -18px 0 30px 30px
			font-size: $medium

#contacts
	top: -$block-displace

	&.visible
		top: 0

#portfolio
	bottom: -$block-displace

	&.visible
		bottom: 20px

	.content
		height: $portfolio-content-height
		overflow: auto
		+box-shadow(0 -20px 0 rgba(255,255,255,0.5))

		.block
			&:after
				height: 73px

.close
	font-size: 50px
	position: absolute
	right: 0
	top: 21px
	color: $grey
	cursor: pointer
	z-index: 1
	+transition(all .5s ease)

	&:hover
		color: $black
		+transform(rotate(180deg))

.copyright
	color: $grey
	float: right

/* @media (max-width: 1200px)
	#contacts
		width: auto

		.block
			width: 50%
			margin-left: 0 !important

			&:after
				display: none !important */

@media (max-width: 640px)
	#icon-angle-down,
	#icon-refresh
		display: none

	#wrapper
		#content
			.frontend
				bottom: 130px
			.vert-line
				bottom: -50px