::selection
    background: $select-text-bg
    color: $select-text-color

::-moz-selection
    background: $select-text-bg
    color: $select-text-color

html, body
    height: 100%
    min-height: 100%
    +mainfont(18px)
    color: $color-text
    line-height: 1.5rem

    @media(min-width: $screen-lg-desktop)
        font-size: 23px

    @media(min-width: $screen-largest)
        font-size: 28px

body
    background-color: black
    background-position: center center
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    height: 100%

.no-webp body
    background-image: url(#{$img}/bg-main.jpg)

.webp body
    background-image: url(#{$img}/bg-main.webp)

.content
    position: relative
    z-index: 1

#bg
    display: none

    @media(min-width: $screen-lg-desktop)
        display: block
        opacity: 0.2
        position: absolute
