html, body
    height: 100%
    overflow: hidden

::selection
    background: $select-text-bg
    color: $select-text-color

::-moz-selection
    background: $select-text-bg
    color: $select-text-color

.main-wrapper
    min-width: $layout-min-width
    max-width: $layout-max-width
    margin: 0 auto
    min-height: 100%
    height: auto !important
    height: 100%

