!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='utf-8')
        title Страничка Беликова Николая
        meta(content='width=device-width, user-scalable=no', name='viewport')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(content='black', name='apple-mobile-web-app-status-bar-style')
        meta(content='nikbelikov', name='apple-mobile-web-app-title')

        link(href='startup-image.png', rel='apple-touch-startup-image')
        link(href='startup-image-iphone5.png', media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')

        link(href='favi.ico', rel='shortcut i', type='image/x-i')
        link(href='apple-touch-i-precomposed.png', rel='apple-touch-i-precomposed')

        link(href='http://fonts.googleapis.com/css?family=Exo+2:100&subset=cyrillic,latin', rel='stylesheet')

        link(href='css/all.css', rel='stylesheet')

    body
        section.main
            .row
                .sitename
                    span nikbelikov.ru

            i.fa.fa-angle-double-down.down-icon

        section.skills(id="skills")
            h1 Magic
            .row
                .medium-3.columns
                    i.fa.fa-html5
                    p HTML5 Jade Haml Markdown Retina SVG Validation

                .medium-3.columns
                    i.fa.fa-css3
                    p Animation Transition LESS Sass Compass Autoprefixer

                .medium-3.columns
                    i.fa.fa-bolt
                    p Javascript jQuery Grunt Gulp Bower

                .medium-3.columns
                    i.fa.fa-github
                    p Git (GitFlow) SVN Mercurial Tower GitHub

            .row
                .medium-3.columns
                    i.fa.fa-mobile
                    p Responsive iOS Android Bootstrap Foundation

                .medium-3.columns
                    i.fa.fa-apple
                    p Mavericks WebStorm Emmet MAMP Evernote Unibox ForkLift

                .medium-3.columns
                    i.fa.fa-desktop
                    p Win Ubuntu Mac VirtualBox IE.Modern

                .medium-3.columns
                    i.fa.fa-eye
                    p PhotoshopCC PngExpress iDraw Monosnap

        section.project.passgenius(id="passgenius")
            i.fa.fa-expand
            a(href="http://passgenius.ru/", target="_blank"): i.fa.fa-sign-in

        section.in-the-web(id="in-the-web")
            h1 In the web
            .row
                .medium-2.columns
                    a(href="http://instagram.com/nikbelikov", target="_blank")
                        i.fa.fa-instagram
                        | photos
                .medium-2.columns
                    a(href="http://proza.ru/avtor/nikbelikov", target="_blank")
                        i.fa.fa-book
                        | characters
                .medium-2.columns
                    a(href="http://buknotes.tumblr.com/", target="_blank")
                        i.fa.fa-tumblr
                        | books
                .medium-2.columns
                    a(href="https://github.com/nikbelikov", target="_blank")
                        i.fa.fa-github
                        | code
                .medium-2.columns
                    a(href="http://nikbelikov.github.io/", target="_blank")
                        i.fa.fa-coffee
                        | blog
                .medium-2.columns
                    a(href="mailto:nikbelikov@me.com", target="_blank")
                        i.fa.fa-envelope-o
                        | mail

        section.twitter(id="twitter")
            h1 Twitter
            a(href="https://twitter.com/_nikbelikov", target="_blank")
                i.fa.fa-twitter
                span @_nikbelikov

        section.copyright
            p nikbelikov.ru (с) <a href="http://foundation.zurb.com/" target="_blank">foundation</a>, <a href="http://jade-lang.com/" target="_blank">jade</a>, <a href="http://fontawesome.io/" target="_blank">font awesome</a>, <a href="http://gruntjs.com/" target="_blank">grunt js</a>

        script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
        script(type="text/javascript", src="js/min/init.min.js")
