!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(charset='utf-8')
		title Страничка Беликова Николая
		meta(content='width=device-width', name='viewport', user-scalable='no')
		meta(content='yes', name='apple-mobile-web-app-capable')
		meta(content='black', name='apple-mobile-web-app-status-bar-style')
		meta(content='nikbelikov', name='apple-mobile-web-app-title')

		link(href='startup-image.png', rel='apple-touch-startup-image')
		link(href='startup-image-iphone5.png', media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')

		link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
		link(href='apple-touch-icon-precomposed.png', rel='apple-touch-icon-precomposed')

		link(href='http://fonts.googleapis.com/css?family=Exo+2:100&subset=cyrillic,latin', rel='stylesheet')

		link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
		link(href='/css/lib/foundation.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')

	body
		section.main
			.row
				.sitename
					<?/*span.year <?php echo date('Y'); ?> (c)*/?>
					span.title nikbelikov.ru

		section.skills(id="skills")
			h1 Skills
			.row
				.medium-4.columns
					p
						icon.fa.fa-windows
						icon.fa.fa-linux
						icon.fa.fa-apple

				.medium-4.columns
					h1: icon.fa.fa-html5
					p Valid <br> Jade Haml

				.medium-4.columns
					h1: icon.fa.fa-css3
					p Animation Transition LESS Sass Compass Autoprefixer

			.row
				.medium-4.columns
					h1: icon.fa.fa-bolt
					p Javascript jQuery

				.medium-4.columns
					h1: icon.fa.fa-github
					p Git (GitFlow) SVN Mercurial

				.medium-4.columns
					h1: icon.fa.fa-mobile
					p Responsive Retina iOS Android

			.row
				.medium-4.columns
					h1: icon.fa.fa-flask
					p Sublime Emmet GruntJS MAMP Evernote

				.medium-4.columns
					h1: icon.fa.fa-eye
					p Photoshop PNGExpress Inkscape Gimp

				.medium-4.columns
					h1: icon.fa.fa-comment-o
					p: ul.social
						li: a(href="#") instagram
						li: a(href="#") twitter
						li: a(href="#") books
						li: a(href="#") code
						li: a(href="#") blog
						li: a(href="#") mail

		section.passgenius(id="passgenius")
			i.fa.fa-expand

		section.in-the-web(id="in-the-web")
			h1 In the web
			.row
				.medium-2.columns
					a(href="http://instagram.com/nikbelikov", target="_blank")
						i.fa.fa-instagram
						| photos
				.medium-2.columns
					a(href="http://proza.ru/avtor/nikbelikov", target="_blank")
						i.fa.fa-book
						| mind
				.medium-2.columns
					a(href="http://buknotes.tumblr.com/", target="_blank")
						i.fa.fa-tumblr
						| books
				.medium-2.columns
					a(href="https://github.com/nikbelikov", target="_blank")
						i.fa.fa-github
						| code
				.medium-2.columns
					a(href="http://nikbelikov.github.io/", target="_blank")
						i.fa.fa-coffee
						| blog
				.medium-2.columns
					a(href="mailto:nikbelikov@me.com", target="_blank")
						i.fa.fa-envelope-o
						| mail

		section.twitter(id="twitter")
			h1: i.fa.fa-twitter
			p.medium-6.small-centered.columns
				a(href="https://twitter.com/_nikbelikov") @_nikbelikov:
				| В Ульяновске -4, облачно. Уже виден рассвет, под которым суетятся-ездят люди.

		section.copyright
			p nikbelikov.ru (c) foundation, jade, font awesome, grunt js


		script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
		script(type="text/javascript", src="js/min/init.min.js")