!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
head
		meta(charset='utf-8')
		title Страничка Беликова Николая
		meta(content='width=device-width', name='viewport', user-scalable='no')
		meta(content='yes', name='apple-mobile-web-app-capable')
		meta(content='black', name='apple-mobile-web-app-status-bar-style')
		meta(content='nikbelikov', name='apple-mobile-web-app-title')
		link(href='startup-image.png', rel='apple-touch-startup-image')
		link(href='startup-image-iphone5.png', media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
		link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
		link(href='apple-touch-icon-precomposed.png', rel='apple-touch-icon-precomposed')
		link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet')
		link(href='/css/lib/foundation.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
	body
		section.main
			.sitename
				span.year	<?php echo date('Y'); ?> (c)

				span.title nikbelikov.ru

			.row
				.large-4.columns
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tenetur quisquam at sed aliquam exercitationem libero iste inventore quae? Voluptas, odit, qui aliquam unde modi explicabo saepe voluptatum maiores perspiciatis?

				.large-4.columns
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tenetur quisquam at sed aliquam exercitationem libero iste inventore quae? Voluptas, odit, qui aliquam unde modi explicabo saepe voluptatum maiores perspiciatis?

				.large-4.columns
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tenetur quisquam at sed aliquam exercitationem libero iste inventore quae? Voluptas, odit, qui aliquam unde modi explicabo saepe voluptatum maiores perspiciatis?

		section.os.center
			.row
				.large-4.columns
					h1 Windows

					p
						| 90%

					p
						icon.fa.fa-windows

				.large-4.columns
					h1 Linux Ubuntu

					p
						| 50%

					p
						icon.fa.fa-linux

				.large-4.columns
					h1
						| MacOS X

					p
						| 70%

					p
						icon.fa.fa-apple

		section.html.center
			.row
					.large-4.columns
							h1 HTML5