.content {
  padding: 20px 10px;
}

.title {
  color: #db073d;
}

.titleEnd {
  color: white;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  text-align: center;
  display: none;
}

.skills {
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 0 0 5px;
}

.listTitle {
  font-size: 20px;
  margin: 30px 0 10px;
}

.copyright {
  font-size: 12px;
}
