doctype html

html(lang="en")

  include includes/head

  body
    main.content
      canvas#bg
      h1(aria-hidden="true") Front
        span end

      ul.menu
        li(data-class="skills" aria-hidden="true") My skills
        li(data-class="about" aria-hidden="true") About me

      .skills
        p.text-center My skills:
        p HTML5 Jade Haml Markdown Retina SVG Canvas ARIA Validation
        p CSS3 MCSS BEM Flexbox Animation LESS Sass Scss Postcss Autoprefixer
        p ES2015 jQuery Grunt Gulp Angular React ReactNative Redux ESLint Babel Requirejs Browserify
        p Git (GitFlow) GitHub npm yarn
        p Responsive iOS Android Bootstrap Foundation Mobile-First Emails
        p MacOS WebStorm Emmet Docker Alfred BrowserSync
        p Adobe Photoshop CC & Sketch

      .about
        p About me:
        p You can find me at: <br/>
          a(href="https://twitter.com/_nikbelikov", target="_blank" aria-label="Link to my Twitter") Twitter <br/>
          a(href="http://instagram.com/nikbelikov", target="_blank" aria-label="Link to my Instagram") Instagram <br/>
          a(href="https://medium.com/@nikbelikov", target="_blank" aria-label="Link to my blog") Medium <br/>
          a(href="https://www.youtube.com/channel/UCXk1dy5LeUWFEG2lsVgN_5A", target="_blank" aria-label="Link to my youtube-account") Youtube
        p I also like to: <br/>
          a(href="https://github.com/nikbelikov", target="_blank" aria-label="Link to my github account") Code some sh*t <br/>
          a(href="http://proza.ru/avtor/nikbelikov", target="_blank" aria-label="Link to my stories") Write stories <br/>
          a(href="http://buknotes.ru/", target="_blank" aria-label="Link to my books blog") Read books
        p My projects: <br/>
          a(href="http://nikbelikov.ru/passgenius/", target="_blank" aria-label="Password generator for iPhone") passgenius <br/>
          a(href="https://goo.gl/3xt6MV", target="_blank" aria-label="Google Chrome extension for web-developers") floc extension <br/>
          a(href="https://github.com/nikbelikov/andylight", target="_blank" aria-label="Frontend template") andylight <br/>
          a(href="https://github.com/nikbelikov/20th-century", target="_blank" aria-label="Email template") 20th century

      .copyright.text-center(aria-hidden="true")
        p 2017 (c) nikbelikov.ru
