doctype html

html.no-js

    include includes/head

    body
        .main-wrapper
            include includes/header

            main.content
                .wrapper
                    h1 тест1

        include includes/footer
