html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

::selection {
  background: #780421;
  color: white;
}

::-moz-selection {
  background: #780421;
  color: white;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

body {
  height: 100%;
  background: #000;
  background-size: cover;
  color: white;
  text-align: center;
}

@media(min-width: 900px) {
  body {
    background: #000 url(../../src/images/bg-main.jpg) no-repeat fixed center center;
    background-size: cover;
  }
}

body * {
  font-family: 'Changa', sans-serif;
}

a {
  color: #db073d;
  text-decoration: none;
}

a:active,
a:focus {
  color: #780421;
}

@media(min-width: 900px) {
  a {
    color: #db073d;
    text-decoration: none;
    transition: color 1s;
  }

  a:hover {
    color: #fdb1c5;
    transition: color 0s;
  }

  a:active,
  a:focus {
    color: #780421;
  }
}
